body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login-error {
    margin-top:20px;
}

.datepicker {
    z-index:1051;
}

h1.page-header {
    margin:40px 0;
}

#transactions-list-container, 
#transactions-table {
    display:none;
}

#main-container {
    display:none;
}

html.loading, 
html.loading body {
    height: 100%;
}

#main-loading {
    height: 100%;
    background:url('/assets/images/loading.gif') center center no-repeat;
}

a#refresh-page {
    float:right;
    cursor: pointer;;
}
